<div class="profile-container">
    <h1>Profile</h1>
    <div class="container-fluid">
        <div *ngIf="showBanner" class="alert alert-success" role="alert">
            Successfully saved your changes!
        </div>
        <div class="row">
            <div class="col-12 detailData">
                <label for="firstName">Firstname:</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon3"><i class="fas fa-user-circle"></i></span>
                    </div>
                    <input id="firstName" class="form-control" placeholder="Firstname" [ngModel]="user?.firstName" (ngModel)="user.firstName = $event">
                </div>
                <label for="lastName">Lastname:</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon3"><i class="fas fa-user-circle"></i></span>
                    </div>
                    <input id="lastName" class="form-control" placeholder="Lastname" [ngModel]="user?.lastName" (ngModel)="user.lastName = $event">
                </div>
                <label for="email">Email</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                       <span class="input-group-text" id="basic-addon3">@</span>
                    </div>
                    <input id="email" class="form-control" placeholder="Email" [ngModel]="user?.email" (ngModel)="user.email = $event">
                </div>
                <label for="password">Password</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon3"><i class="fas fa-lock"></i></span>
                    </div>
                    <input id="password" type="password" class="form-control" placeholder="Password" [ngModel]="user?.password" (ngModel)="user.password = $event">
                </div>
                <label for="height">Height (m)</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon3"><i class="fas fa-child"></i></span>
                    </div>
                    <input id="height" class="form-control" placeholder="Height" [ngModel]="user?.height" (ngModel)="user.height = $event">
                </div>
                <label for="weight">Weight (kg)</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon3"><i class="fas fa-balance-scale"></i></span>
                    </div>
                    <input id="weight" class="form-control" placeholder="Weight" [ngModel]="user?.weight" (ngModel)="user?.weight ? user.weight = $event : null">
                </div>
                <label for="age">Age</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon3"><i class="fas fa-calendar-alt"></i></span>
                    </div>
                    <input id="age" class="form-control" placeholder="Birthday" [ngModel]="user?.age" (ngModel)="user.birthday = $event">
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-primary btn-block" (click)="saveUser()">Save</button>
        <button type="button" class="btn btn-secondary btn-block">Cancel</button>
    </div>
</div>