<div class="container-fluid">
    <div class="row">
      <main role="main" class="col-12">
        <h1>Dashboard</h1>

        <div class="graphs">
          <section class="row text-center placeholders">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                  <ngx-charts-bar-vertical
                  [scheme]="colorScheme"
                  [results]="single"
                  [gradient]="gradient"
                  [xAxis]="showXAxis"
                  [yAxis]="showYAxis"
                  [legend]="showLegend"
                  [showXAxisLabel]="showXAxisLabel"
                  [showYAxisLabel]="showYAxisLabel"
                  [xAxisLabel]="xAxisLabel"
                  [yAxisLabel]="yAxisLabel"
                  (select)="onSelect($event)">
                  </ngx-charts-bar-vertical>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                  <ngx-charts-pie-grid
                  [scheme]="colorScheme"
                  [results]="single"
                  (select)="onSelect($event)">
                  </ngx-charts-pie-grid>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                  <ngx-charts-line-chart
                  [scheme]="colorScheme"
                  [results]="multi"
                  [gradient]="gradient"
                  [xAxis]="showXAxis"
                  [yAxis]="showYAxis"
                  [legend]="showLegend"
                  [showXAxisLabel]="showXAxisLabel"
                  [showYAxisLabel]="showYAxisLabel"
                  [xAxisLabel]="xAxisLabel"
                  [yAxisLabel]="yAxisLabel"
                  [autoScale]="autoScale"
                  (select)="onSelect($event)">
                  </ngx-charts-line-chart>
            </div>
          </section>
        </div>

        <div class="run_overview">
          <h2>{{user?.firstName}} {{user?.lastName}}'s runs</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Steps</th>
                  <th>Distance</th>
                  <th>Date</th>
                  <th>Time</th>
                  <th>Pace</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let run of user?.runningActivities; let i = index">
                  <tr style="cursor:pointer;" (click)="openDetailForRun(run)">
                    <td>{{i+1}}</td>
                    <td>{{run.steps}}</td>
                    <td>{{run.distance}}</td>
                    <td>{{run.startTime | date: 'dd/MM/yyyy'}}</td>
                    <td>{{run.getDuration()}}</td>
                    <td>{{run.getPace()}}</td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </main>
    </div>
  </div>
