<div class="container register-container">
    <form class="form-signin" #heroForm="ngForm">
        <h1>Profile</h1>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 detailData">
                    <label for="firstName">Firstname:</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon3"><i class="fas fa-user-circle"></i></span>
                        </div>
                        <input id="firstName" class="form-control" placeholder="Firstname">
                    </div>
                    <label for="lastName">Lastname:</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon3"><i class="fas fa-user-circle"></i></span>
                        </div>
                        <input id="lastName" class="form-control" placeholder="Lastname">
                    </div>
                    <label for="email">Email</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                           <span class="input-group-text" id="basic-addon3">@</span>
                        </div>
                        <input id="email" class="form-control" placeholder="Email" [(ngModel)]="email" name="email">
                    </div>
                    <label for="password">Password</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon3"><i class="fas fa-lock"></i></span>
                        </div>
                        <input id="password" type="password" class="form-control" placeholder="Password" [(ngModel)]="password" name="password">
                    </div>
                    <label for="height">Height (cm)</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon3"><i class="fas fa-child"></i></span>
                        </div>
                        <input id="height" class="form-control" placeholder="Height">
                    </div>
                    <label for="weight">Weight (kg)</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon3"><i class="fas fa-balance-scale"></i></span>
                        </div>
                        <input id="weight" class="form-control" placeholder="Weight">
                    </div>
                    <label for="age">Age</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon3"><i class="fas fa-calendar-alt"></i></span>
                        </div>
                        <input id="age" class="form-control" placeholder="Age">
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-primary btn-block" (click)="registerUser()">Register</button>
            <button type="button" class="btn btn-secondary btn-block" (click)="loginBtnClicked()">Login</button>
        </div>
    </form>
</div> <!-- /container -->