<div *ngIf="afAuth.authState | async as user; else showLogin">
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
          <a class="navbar-brand" routerLink="/home">Dashboard</a>
          <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/settings" routerLinkActive="active">Settings</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/profile" routerLinkActive="active">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/rm" routerLinkActive="active">One-Rep-Calculator</a>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="nav-item">
                <a class="nav-link" style="cursor:pointer;" (click)="logOutUser()" routerLinkActive="active">Log out</a>
              </li>
            </ul>
          </div>
        </nav>
    </header>
    <router-outlet></router-outlet>
</div>
<ng-template #showLogin>
  <login *ngIf="!showRegister" (registerClicked)="showRegister=true"></login>
  <register *ngIf="showRegister" (loginClicked)="showRegister=false"></register>
</ng-template>