<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="form-check">
                <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="">KG</span>
                    </div>
                    <input type="number" class="form-control" [(ngModel)]="weight" (change)="populateGraphData()"/>
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="">Reps</span>
                    </div>
                    <input type="number" class="form-control" [(ngModel)]="reps" (change)="populateGraphData()"/>
                </div>
                <div class="checkbox">
                    <input class="form-check-input" type="checkbox" (change)="round=!round" id="shouldRound">
                    <label class="form-check-label" for="shouldRound">
                      Round Values
                    </label>
                    <br/>
                    <input class="form-check-input" type="checkbox" (change)="showMore=!showMore" id="showMore">
                    <label class="form-check-label" for="showMore">
                        Show More Reps
                    </label>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">  
            <div class="diagram">
                <ngx-charts-line-chart *ngIf="graphData"
                [results]="graphData"
                [gradient]="gradient"
                [scheme]="colorScheme"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis"
                [legend]="showLegend"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="yAxisLabel"
                [autoScale]="autoScale">
                </ngx-charts-line-chart>
            </div>
        </div>
    </div>
</div>

<table class="table">
    <thead>
      <tr>
        <th scope="col">Reps</th>
        <th scope="col">Epley</th>
        <th scope="col">O'Conner</th>
        <th scope="col">Brzycki</th>
        <th scope="col">McGlothin</th>
        <th scope="col">Mayhew</th>
        <th scope="col">Wathan</th>
        <th scope="col">Lombardi</th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <td scope="col">Formular:</td>
            <td scope="col">`1 RM = w(1+r/30)`</td>
            <td scope="col">`1 RM = w(1+r/40)`</td>
            <td scope="col">`1 RM = w/(1.0278-0.0278*r)`</td>
            <td scope="col">`1 RM = 100w/(101.3-2.67123*r)`</td>
            <td scope="col">`1 RM = 100w/(52.2+41.9e^(-0.055*r))`</td>
            <td scope="col">`1 RM = 100w/(48.8+53.8e^(-0.075*r))`</td>
            <td scope="col">`1 RM = w*r^(0.10)`</td>
        </tr>
        <tr>
            <td>1</td>
            <td>{{round ? (calcEpley() | round ) : (calcEpley() | number:'1.0-5')}}</td> <!--Epley-->
            <td>{{round ? (calcEpley(40) | round ) : (calcEpley(40) | number:'1.0-5')}}</td> <!--O'Conner et al.-->
            <td>{{round ? (calcBrzycki() | round ) : (calcBrzycki() | number:'1.0-5')}}</td> <!--Brzycki-->
            <td>{{round ? (calcBrzycki(100,101.3,2.67123) | round ) : (calcBrzycki(100,101.3,2.67123) | number:'1.0-5')}}</td> <!--McGlothin-->
            <td>{{round ? (calcMayhew() | round ) : (calcMayhew() | number:'1.0-5')}}</td> <!--Mayhew et al.-->
            <td>{{round ? (calcMayhew(100,48.8,53.8,-0.075) | round ) : (calcMayhew(100,48.8,53.8,-0.075) | number:'1.0-5')}}</td> <!--Wathan-->
            <td>{{round ? (calcLombardi() | round ) : (calcLombardi() | number:'1.0-5')}}</td> <!--Lombardi-->
        </tr>
        <ng-container *ngIf="showMore">
                <tr *ngFor="let reps of repCount">
                    <td>{{reps}}</td>
                    <td>{{round ? (calcEpleyReps(reps) | round ) : (calcEpleyReps(reps) | number:'1.0-5')}}</td> <!--Epley-->
                    <td>{{round ? (calcEpleyReps(reps,40) | round ) : (calcEpleyReps(reps,40) | number:'1.0-5')}}</td> <!--O'Conner et al.-->
                    <td>{{round ? (calcBrzyckiReps(reps) | round ) : (calcBrzyckiReps(reps) | number:'1.0-5')}}</td> <!--Brzycki-->
                    <td>{{round ? (calcBrzyckiReps(reps,100,101.3,2.67123) | round ) : (calcBrzyckiReps(reps,100,101.3,2.67123) | number:'1.0-5')}}</td> <!--McGlothin-->
                    <td>{{round ? (calcMayhewReps(reps) | round ) : (calcMayhewReps(reps) | number:'1.0-5')}}</td> <!--Mayhew et al.-->
                    <td>{{round ? (calcMayhewReps(reps,100,48.8,53.8,-0.075) | round ) : (calcMayhewReps(reps,100,48.8,53.8,-0.075) | number:'1.0-5')}}</td> <!--Wathan-->
                    <td>{{round ? (calcLombardiReps(reps) | round ) : (calcLombardiReps(reps) | number:'1.0-5')}}</td> <!--Lombardi-->
                </tr>
        </ng-container>
    </tbody>
</table>