<div class="detail-container">
    <h1>{{ title }}</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 detailData">
            <label for="runStart">Starttime:</label>
            <input id="runStart" class="form-control" placeholder="Run Start" [ngModel]="run?.startTime | date: 'dd/MM/yyyy'">
            <label for="runEnd">Endtime:</label>
            <input id="runEnd" class="form-control" placeholder="Run End" [ngModel]="run?.endTime | date: 'dd/MM/yyyy'">
            <label for="runDuration">Duration</label>
            <input id="runDuration" class="form-control" placeholder="Run Duration" [ngModel]="run?.getDuration()">
            <label for="runDistance">Distance</label>
            <input id="runDistance" class="form-control" placeholder="Distance" [ngModel]="run?.distance">
            <label for="runPace">Pace</label>
            <input id="runPace" class="form-control" placeholder="Pace" [ngModel]="run?.getPace()">
            <label for="runCalories">Calories</label>
            <input id="runCalories" class="form-control" placeholder="Calories" [ngModel]="run?.calories">
            <label for="runCalories">VO2Max</label>
            <input id="runCalories" class="form-control" placeholder="VO2Max" [ngModel]="run?.vomax">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 detailMap">
            <agm-map [latitude]="startPoint.lat" [longitude]="startPoint.lng" [fitBounds]="routeBounds">
                <agm-marker [latitude]="startPoint.lat" [longitude]="startPoint.lng"><agm-info-window>Start Point</agm-info-window></agm-marker>
                <agm-polyline  [strokeColor]="'#2196f3'">
                    <ng-container *ngFor="let point of run?.route">
                        <agm-polyline-point [latitude]="point.lat" [longitude]="point.lng"></agm-polyline-point>
                    </ng-container>
                </agm-polyline>
                <agm-marker [latitude]="endPoint.lat" [longitude]="endPoint.lng"><agm-info-window>End Point</agm-info-window></agm-marker>
            </agm-map>
            </div>
        </div>
    </div>
</div>

