<div class="container">
    <form class="form-signin" #heroForm="ngForm">
      <h2 class="form-signin-heading">Please sign in</h2>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" [(ngModel)]="email" name="email" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" [(ngModel)]="password" name="password" required>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="btn btn-primary btn-block" (click)="signIn()">Sign in</button>
      <button class="btn btn-secondary btn-block" (click)="registerBtnClicked()">Register</button>
    </form>
</div> <!-- /container -->